.desktop-list {
    display: inline-block;
    height: 100%;
    margin-top: 20px;
    max-width: 100px;
}

.desktop-list-icon {
    display: inline-block;
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 5px;
}

.desktop-list-icon a {
	color: white;
	text-decoration: none;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
}
