.console {
    color: grey;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 15px;
    margin: 3px;
    background-color: black;
    max-height: 500px;
    overflow-x: hidden;
    overflow: auto;
}

#console-history {
    width: 100%;
    max-height: 463px;
}

.console-input-text {
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    color: grey;
    border: none;
    outline: none;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 15px;
}

.console-input-question {
    color: #FF0009; 
}

.trivia-question {
	color: yellow;
}

.trivia-incorrect {
	color: red;
}

.trivia-correct {
	color: green;
}

.trivia-emphasis {
	color: teal;
}

.trivia-message {
	color: white;
}
